p.discount {
  font-style: italic;
}

p.time{
  color: red;
  font-weight: 700;
}

img.picture {
  margin:0 auto;
  width:400px;
  height:200px;
}

.picture-wrap {
  text-align: center;
}

.special {
  font-style: italic;
  color: orange;
}

.giant {
  font-weight: bold;
}

.flashy:hover {
  color:red;
  transition-duration:2s;

}

.flashy {
  transition-duration:2s;
}
a:hover {
  color:#000;
}
