p.discount {
  font-style: italic;
}

p.time{
  color: red;
  font-weight: 700;
}

.sidebar-title {
  padding: 3px;
  text-align: center;
  text-decoration:underline;
  border: 1px solid #999;
  margin: 2px;
  background-color:#000;
  color:#fff;
}

.sidebar-left-img-wrap {
  max-width:150px;
  overflow:hidden;
}

.sidebar-left-img {
  max-width:125px;
  margin-top:5px;
}

header {
  text-align:center;
  border-bottom: 3px solid blue;
  margin-bottom:5px;
}

.sidebar-left {
  width: 200px;
  border: 1px solid #000;
  float:left;
  height:1500px;
  margin-right:10px;
  background-color: #f2f8f7;
}

.menu p {
  color: red;
}

.sidebar-left a {
  color:#000;
}

.sidebar-left a:hover {
  color:blue;
}


header:hover {
  transition-duration:2s;
  border-bottom:10px solid red;

}

.footer {
  float:right;
}
.sidebar-right {
  width:300px;
  float:right;
  border:1px solid #000;
  height:1000px;
}

img.picture {
  margin:0 auto;
  width:400px;
  height:200px;
}

.picture-wrap {
  text-align: center;
}

.special {
  font-style: italic;
  color: orange;
  float: left;
  border: 2px solid orange;
  padding: 3px;
}

#menu {
  border:1px solid #000;
  height:50px;
  margin-bottom:3px;
  background-color: #cfddda;
}

.menu-item {
  float: left;
  margin-left: 25px;
  font-size: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu {
  border: 2px solid red;
  padding: 3px;
  margin-right: 5px;
}

.search {
  border: 2px solid black;
  margin-right: 5px;
  float: right;
  width: 297px;
  height: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
}


.search-icon {
  float: right;
  height:30px;
  max-height:30px;
  min-height:30px;
  width:30px;
  min-width:30px;
  max-width:30px;
}

.giant {
  font-weight: bold;
}

.flashy:hover {
  color: blue;
  transition-duration:5s;
  font-size: 25px;
  font-family: sans-serif;
}

.flashy {
  transition-duration:2s;
}
a:hover {
  color:#000;
}

.column {
  float: left;
  width: 33.3333%;

}

.wrap {
margin: 0 auto;
max-width:1700px;

}
@media screen and (max-width:768px) {
  .sidebar-left {display:none;}
  .sidebar-right {display:none;}
}

@media screen and (min-width:1024px) {

}
